# Whether to use the Firebase Emulators
VITE_USE_ALL_EMULATORS=true
# Overrides per emulator
## API = Cloud Functions emulator
# VITE_USE_API_EMULATOR=false
# VITE_USE_AUTH_EMULATOR=false
# VITE_USE_FIRESTORE_EMULATOR=false
# VITE_USE_STORAGE_EMULATOR=false

### Map keys
# https://docs.mapbox.com/help/getting-started/#how-to-use-mapbox
# https://docs.mapbox.com/help/glossary/access-token/
VITE_MAPBOX_ACCESS_TOKEN=
# For the Thunderforest Transport map base layer
# https://www.thunderforest.com/maps/transport/

# For the Thunderforest Transport map base layer
# https://www.thunderforest.com/maps/transport/
VITE_THUNDERFOREST_API_KEY=null

# For an in-development feature
VITE_DIRECT_TRAIN_API_URLS=null
VITE_DB_TRANSPORT_REST_API_URLS=null

### Firebase
# https://firebase.google.com/docs/web/setup
VITE_FIREBASE_API_KEY="sample"
VITE_FIREBASE_AUTH_DOMAIN="demo-test.firebaseapp.com"
VITE_FIREBASE_DATABASE_URL="demo-test.firebaseio.com"
VITE_FIREBASE_PROJECT_ID="demo-test"
VITE_FIREBASE_STORAGE_BUCKET="demo-test.appspot.com"
VITE_FIREBASE_MESSAGING_SENDER_ID=null
VITE_FIREBASE_APP_ID=null
VITE_FIREBASE_MEASUREMENT_ID=null

# Used for public landing page images etc.
VITE_STATIC_ASSETS_BUCKET=https://storage.googleapis.com/wtmg-static

### Stripe
# Use the test publishable key for development
VITE_STRIPE_PUBLISHABLE_KEY=

# Be careful, price IDs are different in the Stripe test & production envs
VITE_STRIPE_PRICE_ID_REDUCED=
VITE_STRIPE_PRICE_ID_NORMAL=
VITE_STRIPE_PRICE_ID_SOLIDARITY=

### Discourse
# This could be your local Discourse dev env, or the production site.
# Omit the ending slash.
VITE_DISCOURSE_HOST=
