# Large source assets to be processed by svelte-img
# See the readme or docs/full-access.md for more info
src/lib/assets

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Config
package-lock.json
.env*
!.env*.example
wtmg.config.json
vite.config.ts.timestamp*

# Tests
/coverage
/.nyc_output
firestore-coverage.html
tests/e2e/credentials.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.DS_Store

# Build & cache files

dist
.routify
node_modules

/build
/.svelte-kit
/package

# Cache

# Package Managers
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/sdks
!.yarn/versions


# Sentry Config File
.env.sentry-build-plugin

android
ios

runtests.sh
test-results
