{
  "semi": true,
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "none",
  "tabWidth": 2,
  "plugins": ["./node_modules/prettier-plugin-svelte"],
  "svelteSortOrder": "scripts-markup-styles",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ]
}
