@font-face {
  font-family: "Inknut Antiqua";
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
}

:root {
  --color-white: #fff;
  --color-black: #333;
  --color-gray: #E5E5E5;
  --color-orange: #CE6854;
  --color-beige-light: #F9F5EE;
  --color-beige: #F0E7D5;
  --color-green: #495747;
  --color-green-light: #CFE3D4;
  --color-copy: #495747;
  --fonts-copy: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --fonts-titles: "Inknut Antiqua", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--color-white);
  color: var(--color-green);
  font-size: 1.6rem;
  font-family: var(--fonts-copy);
  --height-nav: 7rem;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--fonts-titles);
  font-weight: normal;
}

p,
ul li,
ol li {
  line-height: 1.6;
}

a,
a:visited,
a:active,
a:hover {
  color: inherit;
  text-decoration: none;
}

input,
textarea {
  font-family: var(--fonts-copy);
}

.button-container {
  cursor: pointer;
  background-color: inherit;
  border: none;
  padding: 0;
  margin: 0;
  outline: 0;
  width: 100%;
  height: 100%;
  text-align: inherit;
  font-size: inherit;
  font-family: inherit;
  border-radius: inherit;
}


.button-container:focus,
.button-container:active,
.button-container::-moz-focus-inner {
  outline: 0;
  border: 0;
}
