@font-face {
  font-family: "Inknut Antiqua";
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
}

:root {
  /*
  * Colors
  */
  --color-white: #fff;
  --color-black: #333;
  --color-gray: #E5E5E5;
  --color-orange: #CE6854;
  --color-orange-light: #ED7F69;
  --color-beige-light: #F9F5EE;
  --color-beige: #F0E7D5;
  --color-green: #495747;
  --color-green-light: #CFE3D4;
  --color-copy: #495747;
  --color-info: #2D69EA;
  --color-warning: #ffbb33;
  --color-danger:  #ff4444;
  --color-success: #00C851;

  /*
  * Typography
  */
  --fonts-copy: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --fonts-titles: "Inknut Antiqua", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  /*
  * Units
  */
  --height-nav: 8rem;
}

.mb-l {
  margin-bottom: 2rem;
}
.mb-m {
  margin-bottom: 1rem;
}
.mt-m {
  margin-top: 1rem;
}

html, body, #app-container {
  height: 100%;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--color-white);
  color: var(--color-green);
  font-size: 1.6rem;
  font-family: var(--fonts-copy);
}

p, .p {
  font-size: 1.6rem;
  font-weight: normal;
}

@media screen and (max-width: 700px) {
  body, .input, textarea, p, .p {
    font-size: 1.4rem;
  }

}

*,
*:before,
*:after {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-family: var(--fonts-titles);
}

h2, h3, h4, h5, h6 {
  font-family: var(--fonts-copy)
}

h3, h4, h5, h6 {
  font-family: var(--fonts-copy);
}

h1 {
  font-size: 2.4rem;
}

p,
ul li,
ol li {
  line-height: 1.6;
}

a,
a:visited,
a:active,
a:hover {
  color: inherit;
  text-decoration: none;
}

input,
select,
textarea {
  font-family: var(--fonts-copy);
}

strong {
  font-weight: bold;
}

.button-container {
  cursor: pointer;
  background-color: inherit;
  border: none;
  padding: 0;
  margin: 0;
  text-align: inherit;
  outline: 0;
  width: 100%;
  height: 100%;
  text-align: inherit;
  font-size: inherit;
  font-family: inherit;
  border-radius: inherit;
}

.button-container:focus,
.button-container:active,
.button-container::-moz-focus-inner {
  outline: 0;
  border: 0;
}

.input {
  padding: 1.2rem 0;
  border: none;
  border-bottom: 1px solid var(--color-green);
  transition: border 300ms ease-in-out;
  font-size: 1.6rem;
  outline: none;
  width: 100%;
  position: relative;
}

.input:focus {
  border-bottom: 1px solid var(--color-info);
}

a.link {
  color: var(--color-orange);
  text-decoration: underline;
}

a.link:visited,
a.link:active,
a.link:hover {
  color: var(--color-orange);
  text-decoration: underline;
}

.danger {
  color: var(--color-danger);
}

.skeleton {
  border-radius: 0.4rem;
  background-color: var(--color-gray);
  background-image: linear-gradient(
    90deg,
    var(--color-gray),
    var(--color-green-light),
    var(--color-gray)
  );
  background-size: 20rem 100%;
  background-repeat: no-repeat;
  display: inline-block;
  width: 100%;
  animation: loading-animation 1200ms ease-in-out infinite;
}

@keyframes loading-animation {
  0% {
    background-position: -20rem 0;
  }
  100% {
    background-position: calc(20rem + 100%) 0;
  }
}
