/**
 * SCSS variables
 * 
 * Variables are use to avoid having difference in the app regarding colours, 
 * sizes, spaces,...
 */

/**
 * Fonts
 * 
 * Variables use for:
 * - font-size
 * - line-height
 */
$text-font-size-l: 18px;
$text-font-size-m: 14px;

$text-line-height-l: 160%;
$text-line-height-m: 140%;
 
/**
 * Colour
 * 
 * Variables use for defining all Colours. Note that system color are define in
 * `/public/global.css`, here we define template colour base on system colour.
 */
$color-text: var(--color-green);
$color-title: var(--color-green);

$color-bg-light: var(--color-white);
$color-bg-dark: var(--color-green);
$color-bg-primary: var(--color-green-light);
$color-bg-secondary: var(--color-beige);

/**
 * Spacers
 * 
 * Variables use for defining all space of the app. Will help to keep a visual 
 * consistency everywhere.
 */
$spacers: (
  xl: 3rem,
  l: 2rem,
  m: 1rem,
  s: 0.8rem,
  xs: 0.5rem
);

$spacer-xl: map-get($spacers, xl);;
$spacer-l: map-get($spacers, l);;
$spacer-m: map-get($spacers, m);;
$spacer-s: map-get($spacers, s);;
$spacer-xs: map-get($spacers, xs);

/**
 * Radius
 * 
 * Variables use for defining all radiuses.
 */
$radius-xl: 40px;
$radius-m: 10px;
$radius-s: 6px;

/**
 * Breakpoints
 * 
 * Variables use for defining all breakpoints.
 */
$breakpoint-xs: 568px;
$breakpoint-s: 700px;
$breakpoint-m: 980px;
$breakpoint-l: 1200px;

/**
 * Sizes
 * 
 * Variables use for sizes.
 */
$mobile-nav-height: 9rem;
