# This file contains environment variables for the Functions Emulator,
# it is also used by the Mocha runtime for integration tests.
#
# WARNING: firebase-tools does not support env variable files like .env.demo.local
# or even .env.demo, even though similar files are supported for real environments
# and aliases as defined in .firebaserc
# Therefore, we MUST use .env.local for values only reserved for local demo emulators
#
# The problem with this: local emulators don't have to target demo-test, they can also wtmg-dev or wtmg production, especially Functions
# Unfortunately, .env.local OVERRIDES all other .env.staging(.local) /.env.prod(.local) files
# When this file is not in use for local **demo** emulator testing, rename this to .env.demo
# so that .env.staging(.local) / .env.prod(.local) can take precedence
#
# WARNING 2: don't add FIREBASE_*_EMULATOR_HOST variables here.
# These variables are required to connect to the emulator resources with
# firebase-admin in node scripts started outside of the emulators, such as Mocha test runners.
# These variables are automatically provided to scripts running with emulators:exec, or functions code.
# If you try to add them here though, the function emulators will fail to start with this error:
# "⬢  functions: Failed to load function definition from source: FirebaseError: Failed to load environment variables from .env.local."
#
# For more convenient use in Mocha, we also supply api/.env.test.local which can be loaded with dotenv.

DASHBOARD_URL="http://localhost:5188"
DISCOURSE_API_KEY=
DISCOURSE_CONNECT_SECRET=
DISCOURSE_HOST=
FRONTEND_URL="http://localhost:5173"
LOCAL_EMAIL_HOST="http://127.0.0.1:8025"
SENDGRID_DISABLE_CONTACTS=true
SENDGRID_FIELD_IDS_COMMUNICATION_LANGUAGE=
SENDGRID_FIELD_IDS_CREATION_LANGUAGE=
SENDGRID_FIELD_IDS_CREATION_TIME=
SENDGRID_FIELD_IDS_GARDEN_PHOTO="e11_N"
SENDGRID_FIELD_IDS_HOST=
SENDGRID_FIELD_IDS_LISTED="e10_N"
SENDGRID_FIELD_IDS_NEWSLETTER=
SENDGRID_FIELD_IDS_SECRET=
SENDGRID_FIELD_IDS_SUPERFAN=
SENDGRID_FIELD_IDS_WTMG_ID=
SENDGRID_INBOUND_PARSE_EMAIL=
SENDGRID_MARKETING_KEY=
SENDGRID_NEWSLETTER_LIST_ID=
SENDGRID_SEND_KEY=
GLITCHTIP_KEY=
SENTRY_HOST=
STRIPE_PRICE_IDS_NORMAL=
STRIPE_PRICE_IDS_REDUCED=
STRIPE_PRICE_IDS_SOLIDARITY=
STRIPE_SECRET_KEY=
STRIPE_VERSION="2024-10-28.acacia"
STRIPE_WEBHOOK_SECRET=
SUPABASE_API_URL="http://127.0.0.1:54321"
SUPABASE_DISABLE_REPLICATION=true
SUPABASE_SERVICE_ROLE_KEY=
