.runtimeconfig*json
admin-credentials.json

# Package Managers
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Large source assets to be processed by svelte-img
# See the readme or docs/full-access.md for more info
src/lib/assets