name: Run Playwright Tests
on:
  push:
    branches:
      - master
    paths-ignore:
      # Because the build of this Dockerfile will always need to precede this workflow
      - ci/Dockerfile.ci
      - .gitignore
      - docs/**
      - '*.md'
      # This does not run backend test code
      - api/test/**
  pull_request:
    branches:
      - master
    paths-ignore:
      # Because the build of this Dockerfile will always need to precede this workflow
      - ci/Dockerfile.ci
      - .gitignore
      - docs/**
      - '*.md'
      # This does not run backend test code
      - api/test/**
jobs:
  playwright:
    name: 'Playwright Tests'
    runs-on: ubuntu-24.04
    environment: e2e-test-emulators
    container:
      image: ghcr.io/welcometomygarden/wtmg-e2e-ci:24
      options: --user root
      env:
        SENTRY_DSN: ${{vars.SENTRY_DSN}}
        SENTRY_AUTH_TOKEN: ${{secrets.SENTRY_AUTH_TOKEN}}
        MAPBOX_ACCESS_TOKEN: ${{secrets.MAPBOX_ACCESS_TOKEN}}
        THUNDERFOREST_API_KEY: ${{secrets.THUNDERFOREST_API_KEY}}
        STRIPE_PUBLISHABLE_KEY: ${{secrets.STRIPE_PUBLISHABLE_KEY}}
    # Gotchas: https://docs.github.com/en/actions/reference/workflows-and-actions/dockerfile-support
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          # We don't supply a node version here, because we want to use the one in wtmg-e2e-ci
          # We do want the caching though
          cache: yarn
      - name: Install dependencies
        run: yarn install --immutable && cd api && yarn install --immutable && cd ..
      ###### TODO: replace this, and its prepare-source equivalent, by GIT-LFS
      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v1
        with:
          version: '>= 363.0.0'
          project_id: 'wtmg-production'
      - name: Use gcloud CLI
        run: gsutil -m cp -r gs://wtmg-static/assets src/lib
        shell: bash
      ######
      - name: Set up environment
        run: |
          sed -i -z \
            's/,\n[[:space:]]*"extensions": {\n[[:space:]]*"storage-resize-images": "firebase\/storage-resize-images@[0-9]\+\.[0-9]\+\.[0-9]\+"\n[[:space:]]*}\n//g' \
            firebase.json && \
          ./ci/fill-envs.sh
      - name: Build emulator frontend
        run: yarn build:demo
      - name: Run your tests
        # silences noisy access logs from the hosting server
        run: npx playwright test --project Mobile
      - name: Upload Playwright artifacts
        uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
